@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', 'Sora', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  color: #e9ecff;
  background-color: #050814;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #050814;
  color: #e9ecff;
  overflow: hidden;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
}
